{% set batchsize_to_num = {"1k":1, "2k":2, "4k":4, "8k":8} %}
{% set batchsize = batchsize_to_num[cookiecutter.batchsize] %}
{% if cookiecutter.batchsize == "EXP" %}
{% set batches=[1,2,4,8,16] %}
{% else %}
{% set batches=[batchsize]*(16//batchsize) %}
{% endif %}

#trainsize
num_itr    {{ batches|length}}
pre_idxs_0    1000
{%- for batch in batches %}
pre_idxs_{{loop.index}}    {{batch*1000}}
{%- endfor -%}

