{% set _dataset_size={"AA": "44004", "OE":"64710", "QM9":"133814"} %}
{% set _mbtrs={"AA": "mbtr_k2.npz", "OE":"mbtr_0.02.npz", "QM9":"mbtr_1.1.npz"} %}
{% set _sets={"run1": "1234", "run2":"2345", "run3":"3456", "run4":"4567", "run5":"5678"} %}

#condtidion
fn_name                 
out_name                {{cookiecutter.dataset}}-{{cookiecutter.strategy}}-{{cookiecutter.batchsize}}
dataset                 {{cookiecutter.dataset}}
dataset_size            {{_dataset_size[cookiecutter.dataset]}}
test_set_size           10000
rnd_size                2.0
K_high                  100

