#preprocess
mbtr_red                False
preprocess               none

#kernel
kernel_type             constRBF
length                  700
const                   20
bound                   1e2
n_opt                   2

#flag
save_load_flag          save
save_load_split_flag    False
restart_flag            False

